#############################################
# GLOBAL / COMMON
#############################################
.DS_Store
Thumbs.db

# ENV, Secrets
.env
.env.*
*.env
*.json       # GCP/AWS 민감 JSON 차단 (공통)
