#aiBody {
    flex: 9.5;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultBox {
    width: 100%;
    flex: 5;
    font-size: 200%;
}

#inputZone {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

#inputBox {
    width: 90%;
    height: 50%;
    border-radius: 20px;
    border: 2px solid silver;
    padding: 0;
    padding-left: 2%;
    display: flex;
    align-items: center;
}

#inputMessage {
    width: 90%;
    height: 90%;
    border: none;
    margin-right: 2%;
    font-size: 100%;
}

#inputMessage:focus {
    outline: none;
    box-shadow: none;
}

#mikeImg {
    height: 60%;
    width: auto;
    cursor: pointer;
}