#menuBody {
    flex: 9.3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-y: auto;
}

#menuImage {
    width: 95%;
    height: auto;
}

#menuDetailBox {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#menuDetailName {
    font-size: 140%;
    font-weight: bold;
}

#menuDetailPrice {
    font-size: 110%;
    font-weight: 600;
}

.blank {
    height: 10%;
}

#menuInfoBox {
    width: 93%;
}

.menuInfoRow {
    display: flex;
    justify-content: space-between;
    font-size: 75%;
    margin-bottom: 1%;
}

.menuInfo {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 1%;
  }

.infoRight {
    font-weight: bold;
}

.allergy {
    font-size: 75%;
}

#menuNote {
    margin: 0;
    padding: 0;
    font-size: 65%;
    margin-left: 3%;
}

.blankSamll {
    height: 3%;
}

#allergyBt {
    border: 1px solid black;
    color: black;
    border-radius: 30px;
    font-size: 75%;
    margin-top: 2%;
    padding: 1% 2% 1% 3%;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

#menuBottom {
    flex: 0.7;
    border-top: 1px solid black;
    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#countBox {
    width: 21%;
    height: 40%;
    border: 1px solid darkgray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-top: 1.7%;
    padding-bottom: 1.7%;
}

.counterBtn {
    width: 33.33%;
    margin: 0;
    padding: 0;
    background-color: inherit;
    font-weight: 1000;
}

.counterValue {
    width: 33.34%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

#priceBt {
    width: 75%;
    border: 1px solid #E60012;
    height: 65%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E60012;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 110%;
}

#backDiv {
    position: relative;
    width: 100%;
}

#backImg {
    width: 5%;
    height: auto;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    top: 1vw;
    left: 0.5vw;
}