#shopHeader {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #EDEDED;
    align-items: center;
    height: 20%;
    font-size: 120%;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
}

.countNum {
    font-size: 130%;
    font-weight: bold;
}

.shopPrice {
    color: red;
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shopBody {
    overflow-y: auto;
    flex: 1 1 auto;
}

.cartCard {
    width: 100%;
    display: flex;
    height: 20%;
    font-weight: bold;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cartItemDelete {
    cursor: pointer;
}

.cartCount {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
}

.cartCountBt {
    width: 13%;
    height: 60%;
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    background-color: #f8f8f8;    
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 120%;
}

.cartCountNum {
    font-size: 120%;
}

#shopCount {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopFont {
    width: 150%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nanoPriceBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}